.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 16px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}
.social__link {
  display: block;

  @media (max-width: $mobile-width) {
    padding: 8px;
  }
}
.social__link:hover svg {
  fill: $blue;
  transition: 500ms;
}
.social__link:active svg {
  opacity: 0.8;
  transition: 500ms;
}
