*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
html {
  scroll-behavior: smooth;
  margin-top: 0;
  margin-right: calc(-1 * (100vw - 100%));
}
