.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1422px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  @media (max-width: $mobile-width) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.blocked {
  overflow-y: hidden;
}
