$mono: "PT Mono", "Courier", monospace;
$roboto: "Roboto Condensed", "MS Sans Serif", sans-serif;

$white: #FFFFFF;
$black: #000000;
$font: #666666;
$dark-gray: #1B2D37;
$light-gray: #EBEBEB;
$gray: #CDCDCD;
$spoller: #C4C4C4;
$bg-gray: #FAFAFA;
$border-gray: #626962;
$blue: #00B2FF;


$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
